<html>
  <head>
    <title>Custom Markers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
      <h3>Custom Icon</h3>
      <button type="button" class="btn btn-primary"  onclick="clearMarkers();">Clear Icon</button>
      <button type="button" class="btn btn-danger" onclick="deleteMarkers()">Delete Icon</button>
      <button type="button" class="btn btn-success" onclick="showMarkers();">Show Icon</button>
    <div id="map"></div>
    <div id="legend"><h3>Legend</h3></div>
    <script>
      var map;
      var uniqueId = 0;
      var markerArray = [];
      var myListener  = [];
      function initMap() {
        var geocoder = new google.maps.Geocoder();
        //Try
            
        //End Try
        map = new google.maps.Map(
            document.getElementById('map'),
            {center: new google.maps.LatLng(22.7196, 75.8577), zoom: 12});
        

        // Icon Base from Doc
        var iconBase =
            'http://maps.google.com/mapfiles/kml/shapes/';
        var iconBase1 = 'http://maps.google.com/mapfiles/kml/pal2/'; 
        var iconBase2 = 'http://maps.google.com/mapfiles/kml/pal3/'; 
        
        // Assign the icon for different location
        var icons = {
          hospital: {
            icon: iconBase2 + 'icon46.png'
          },
          Airport: {
            icon: iconBase1 + 'icon48.png'
          },
          stadium: {
            icon: iconBase1 + 'icon57.png'
          },
          temple: {
            icon: iconBase1 + 'icon2.png'
          }
        };
       
 
        // Assign the feature for different location 
        var features = [
          {
            position: new google.maps.LatLng(22.7545, 75.9035), // Bombay hospital
            type: 'hospital'
          }, {
            position: new google.maps.LatLng(22.7250, 75.8776), // Abhay Prashal
            type: 'stadium'
          }, {
            position: new google.maps.LatLng(22.731457, 75.914391), // Khajrana Temple
            type: 'temple'
          }, {
            position: new google.maps.LatLng(22.7277, 75.8044), //Airport
            type: 'Airport'
          }
        ];
          
    
        // Create markers.
        for (var i = 0; i < features.length; i++) {
            markerArray.push(new google.maps.Marker({
                position: features[i].position,
                icon: icons[features[i].type].icon,
                map: map
            }));


            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h4 id="firstHeading" class="firstHeading">Hello Shreya,</h4>'+
            '<div id="bodyContent">'+
            '<p><b>you are at '+ features[i].type +'</b> ' +
            '.'+
            '</div>'+
            '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
                });

                google.maps.event.addListener(markerArray[i], 'click', (function(marker,content,infowindow) {
                    return function() {
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                    };
                })(markerArray[i],contentString,infowindow));
            }; 

             //Infowindows
            /*    for (var point in features) {

                    var contentString = '<div id="content">'+
                        '<div id="siteNotice">'+
                        '</div>'+
                        '<h4 id="firstHeading" class="firstHeading">Hello Shreya,</h4>'+
                        '<div id="bodyContent">'+
                        '<p><b>you are at '+ features[point].type +'</b> ' +
                        '.'+
                        '</div>'+
                        '</div>';

                    var infowindow = new google.maps.InfoWindow({
                    content: contentString
                    });

                    google.maps.event.addListener(markerArray[point], 'click', (function(marker,content,infowindow) {
                        return function() {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        };
                    })(markerArray[point],contentString,infowindow));
                } */
        }

        // Sets the map on all markers in the array.
       /*  function setMapOnAll(map) {
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(map);
            }
        } */
        //Confirmation Alert for deletion
        var txt;
        function Alert() {
            
            if (confirm("This will delete the icon")) {
                text = "OK";
            } else {
                text = "CANCEL";
            }
            return text;
        }


        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(null);
            }
        }

        // Show the markers from the map again.
        function showMarkers() {
            for (var i = 0; i < markerArray.length; i++) {
                markerArray[i].setMap(map);
            }
        }
        
        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            Alert();
           if(text == 'OK'){
            clearMarkers();
            markerArray = [];
           }   
        }
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPnljxkJKYVDqpspU3UDzhw4cvBy15r1E&callback=initMap">
    </script>
  </body>
</html>